@media screen and (min-width : 767px) and (max-width : 991px) {
    body {
        margin-left: 2em;
        margin-top: 2em;
        margin-right: 2em;
        padding-left: 0;
    }
    /* header */
    
    li a:hover{
        padding-top: 45px;
    }
    /* filtre */
    .filtre{
        width: 100%;
        gap: 10px;
    }
    .filtre button{
        padding: 4px;
    }
    .filtreSize{
        font-size: 17px;
    }
    /* main */
    /* lodgings Marseille */
    #fullcontainer{
        flex-direction: column;
    }
    #containerone, #containerTwo{
        width: 92%;
        height: 100%;
        
    }
    .imgHostel{
        width: 94%;
    }
    /* Most popular */
    .threeMost {
        flex-direction: row;
        height: 100%;
    }
    .threeMost a{
        height: 150px;
        width: 100%;
    }
    .imgpopular{
        width: 45%;
    }
   
    
}